* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(219, 219, 219);
    font: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#principal {
    padding: 20px;
    background-color: rgba(255, 166, 0, 0.932);
    text-align: center;
}
#branco {
    color: white;
}

#conteudo {
    width: 950px;
    margin: 0 auto; 
    padding: 15px;
}
#areapostagens {
	width: 660px;
	float: left;
}
#arealateral {
	width: 240px;
	float: right;
}
.postagens {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
    text-align: justify;
}
.menulateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}
.menulateral a {
    text-decoration: none;
    color: orange;
}

#principal a {
    text-decoration: none;
    color: black;
    padding: 8px 20px;
    font-weight: 900;
}

#principal a:hover {
    color: red;
}
img {
    width: 600px;
    height: 300px;
}
#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
}
.data-post {
    font-size: 0.8em;
    border-bottom: 1px solid aqua;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;   
}
.noticias{
    font-size: 0.8em;
    padding: 5px;
    text-align: justify;
    border-bottom: 1px solid gray;
}
h1 {
    font-size: 2.5em;
}
h2 {
    color: darkgreen;
}
h3 {
    padding: 5px;
    background-color: dimgray;
}